/* Your code here */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: max-content;
    margin: 0;
    background-color: #706b6b;

  }
  
  h1 {
    font-size: 50pt;
    background-color: rgb(51, 191, 219);
    width: -webkit-fill-available;
    text-align: center;
    border: double 5px #000000;
    font-family:'Times New Roman', Times, serif;
    padding: 8px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  h2 {
    margin: 10px 0 20px 0;
    font-size: 40pt;
  }
  
  #show {
    color: red;
  }
  
  #hide {
    color: transparent;
  }
  
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);
    padding-bottom: 10px;
  }
  
  .square {
    border: 5px solid black;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 0;
  }

  .square:hover {
    background-color: #999494;
    overflow: hidden;
  }
  
  #r0-c0,
  #r0-c2,
  #r2-c0,
  #r2-c2 {
    border: none;
  }
  
  #r0-c1 {
    border-bottom: none;
    border-top: none;
  }
  
  #r1-c0 {
    border-right: none;
    border-left: none;
  }
  
  #r1-c2 {
    border-left: none;
    border-right: none;
  }
  
  #r2-c1 {
    border-top: none;
    border-bottom: none;
  }
  
  input[type="button"],
  input[type="reset"] {
    width: 250px;
    height: 45px;
    font-size: 20pt;
    border: 4px double black
  }
  
  #forfeit {
    background-color: #be220a;
  }

  #forfeit:hover {
    background-color: #ff0000;
  }

  #resetButton:hover {
    background-color: rgba(17, 239, 57, 0.712);
  }

  #resetButton {
    color: #000000;
    background-color: rgb(0, 128, 0);
  }
  

  
  #options {
    width: -webkit-fill-available;
    display: flex;
    position: relative;
    top: 2em;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #turn {
    white-space: nowrap;
    text-align: center;
    width: 150px;
    font-size: 20pt;
  }

